<module>
	<rawname>timeconditions</rawname>
	<name>Time Conditions</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Basic</category>
	<menuitems>
		<timeconditions>Time Conditions</timeconditions>
	</menuitems>
	<location>release/timeconditions-1.0.tgz</location>
	<info>http://freepbx.org/wiki/TimeConditions</info>
</module>
