amp_conf/htdocs/admin/libraries/Composer/vendor/symfony/finder/Tests/Fixtures
amp_conf/htdocs/admin/libraries/Composer/vendor/bin
amp_conf/htdocs/admin/assets/less/cache/**
amp_conf/htdocs/admin/assets/js/pbxlib.js
amp_conf/htdocs/admin/modules/**
amp_conf/htdocs/admin/assets/**
!amp_conf/htdocs/admin/assets/css
!amp_conf/htdocs/admin/assets/fonts
!amp_conf/htdocs/admin/assets/images
!amp_conf/htdocs/admin/assets/js
!amp_conf/htdocs/admin/assets/less
module.sig
