<module>
	<rawname>framework</rawname>
	<modtype>framework</modtype>
	<repo>standard</repo>
	<name>FreePBX Framework</name>
	<version>14.0.1alpha29</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv2+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<changelog>
		*14.0.1alpha1* Inital Release
	</changelog>
	<description>
		This module provides a facility to install bug fixes to the framework code that is not otherwise housed in a module
	</description>
	<depends>
		<phpversion>5.6.0</phpversion>
	</depends>
	<supported>
		<version>14.0</version>
	</supported>
	<category>Admin</category>
</module>
