/* The following styles are for ALL browsers, including Netscape
   Navigator 4.x.  Put more detailed CSS in rhn.css. */


.sidenav {
	//display: block;
	margin: 0px; 
	/* padding: 3pt 8pt 3pt 8pt;*/
	background-color: #e0e0e0;

	
	color: white !important;
	border: 1px solid #500 !important;
	background: #a62b2b url("../images/sidenav-selected.gif") no-repeat !important;
}

.bar-status form { 
        margin: 0;
}

.bar-status {
	background-color: #ddd;
	font-size: 10px;
	padding: 5px;
	margin: 0;
	border: 1px solid #ccc;
	border-top: none;
}


div.login-component { 
  text-align: center;
}

div.login-box { 
  border: 1px solid #999;
  text-align: right;
  padding: 12px 10px;
  margin: 4px;
  background-color: #eee;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
}

div.login-box form { 
  margin: 0;
}

div.login-box div.input-row { 
  font-weight: bold;
  font-size: 10px;
  white-space: nowrap;
}

div.login-box div.input-row input { 
  font-weight: normal;
  vertical-align: middle;
}

div.filter-input { 
}
div.filter-input input { 
  vertical-align: middle;
  font-size: 10px;
}




/***********/

body {
	font-size: 0.9em;
	font-family: bitstream vera sans,sans-serif;
	margin: 0;
	padding: 0;
	/* (The background color is specified elsewhere, so do a global replacement if it ever changes) */
	background-color: #d9d9d9;
}

a:link {
	color: #900;
}
a:visited {
	color: #48468f;
}
a:hover {
	color: #f20;
}
a[name] {
	color: inherit;
	text-decoration: inherit;
}

#fedora-header {
	background-color: #fff;
	height: 62px;
}
#fedora-header img {
	border: 0;
	vertical-align: middle;
}
#fedora-header-logo-noimg {
	/* position is offset by the header padding amount */
	position: absolute;
	left: 26px;
	top: 1px;
	z-index: 3;
}
#fedora-header-logo {
	/* position is offset by the header padding amount */
	position: absolute;
	left: 26px;
	top: 1px;
	z-index: 3;
}
#fedora-header-logo img {	
	height: 60px;
}
#fedora-header-items {
	/* position is offset by the header padding amount */
	position: absolute;
	right: 10px;
	top: 25px;
	text-align: right;
	display: inline;
}
#fedora-header-items a {
	color: #000;
	text-decoration: none;
	padding: 7pt;
	font-size: 1.1em;
}
#fedora-header-items a:hover, #fedora-header-search-button:hover {
	color: #f20;
	cursor: pointer;
}
#fedora-header-items img {
	margin-right: 1px;
	width: 20px;
	height: 22px;
}
#fedora-header-search {
	height: 25px;
}
#fedora-header-search-entry {
	vertical-align: top;
	margin: 0.65em 4px 0 10px;
	padding: 2px 4px;
	background-color: #f5f5f5;
	border: 1px solid #999;
	font-size: 0.8em !important;
}
#fedora-header-search-entry:focus {
	background-color: #fff;
	border: 1px solid #555;
}
#fedora-header-search-button {
	font-size: 0.8em !important;
	vertical-align: top;
	margin-top: 0.2em;
	border: 0;
	padding: 7px;
	background: #fff url('images/header-search.png') no-repeat left;
	padding-left: 21px;
}
#fedora-header-items form {
	float: right;
}
#fedora-header-items input {
	font-size: 0.85em;
}
#fedora-nav {
	margin: 0;
	padding: 0;
	background-color: #22437f;
	font-size: 0;
	height: 5px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #f5f5f5;
}
#fedora-nav ul {
	margin: 0;
	padding: 0;
}
#fedora-nav li {
	display: inline;
	list-style: none;
	padding: 0 5pt;
}
#fedora-nav li + li {
	padding-left: 8pt;
	border-left: 1px solid #99a5bf;
}
#fedora-nav a {
	color: #c5ccdb;
	text-decoration: none;
}
#fedora-nav a:hover {
	color: #fff;
}

#fedora-side-left {
	position: absolute;
	z-index: 2;
	width: 11em;
	/* Space down for the approx line height (fonts) */
	left: 12px;
}
#fedora-side-right {
	position: absolute;
	z-index: 1;
	width: 13em;
	right: 12px;
	padding-top: 3px;
	}
#fedora-side-left, #fedora-side-right {
	top: 2px;
	/* add to the top margin to compensate for the fixed sizes */
	margin-top: 75px;
	color: #555;
	font-size: 0.9em;
}
#fedora-side-right ul {
	list-style: square inside;
	padding: 0;
	margin: 0;
}

/* Left-side naviagation */
#fedora-side-nav-label {
	display: none;
}
#fedora-side-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #5976b2;
	border-top: 0;
	background-color: #22437f;
}
#fedora-side-nav li {
	margin: 0;
	padding: 0;
	border-top: 1px solid #5976b2;
	/* IE/Win gets upset if there is no bottom border... Go figure. */
	border-bottom: 1px solid #22437f;
}
#fedora-side-nav a {
	margin: 0;
	color: #c5ccdb;
	display: block;
	text-decoration: none;
	padding: 4px 6px;
}
#fedora-side-nav a:hover {
	background-color: #34548f;
	color: #fff;
}
#fedora-side-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#fedora-side-nav ul li {
	border-top: 1px solid #34548e;
	background-color: #34548e;
	/* IE/Win gets upset if there is no bottom border... Go figure. */
	border-bottom: 1px solid #34548e;
}
#fedora-side-nav ul li:hover {
	border-bottom: 1px solid #34548f;
}
#fedora-side-nav ul li a {
	padding-left: 12px;
	color: #a7b2c9;
}
#fedora-side-nav ul li a:hover {
	background-color: #46659e;
}
#fedora-side-nav ul ul li a {
	padding-left: 18px;
}
#fedora-side-nav strong a {
	font-weight: normal;
	color: #fff !important;
	background-color: #10203b;
}
#fedora-side-nav strong a:hover {
	background-color: #172e56 !important;
}

/* content containers */
#fedora-middle-one, #fedora-middle-two, #fedora-middle-three {
	font-size: 0.9em;
	/* position: relative; */ /* relative to utilize z-index */
	width: auto;
	min-width: 120px;
	margin: 10px;
	z-index: 3; /* content can overlap when the browser is narrow */
}
#fedora-middle-two, #fedora-middle-three {
	margin-left: 11em;
	padding-left: 24px;
}
#fedora-middle-three {
	margin-right: 13em;
	padding-right: 24px;
}

#fedora-content {
	padding: 24px;
	border: 1px solid #aaa;
	background-color: #fff;
}

#fedora-content > .fedora-corner-bottom { top: 0 }

.fedora-corner-tl, .fedora-corner-tr, .fedora-corner-bl, .fedora-corner-br {
	background-color: #d9d9d9;
	position: relative;
	width: 19px;
	height: 19px;
	/* The following line is to render PNGs with alpha transparency within IE/Win, using DirectX */
	/* Work-around for IE6/Mac borkage (Part 1) */
	display: none;
}

.fedora-corner-tl, .fedora-corner-bl { float: left; left: 0px; }
.fedora-corner-tr, .fedora-corner-br { float: right; right: 0px; }
.fedora-corner-tl, .fedora-corner-tr { top: 0px; }
//.fedora-corner-bl, .fedora-corner-br { bottom: 0px; margin-top: -19px; /* Opera fix (part 1) */ top: -18px;}

html>body .fedora-corner-tl { background: #d9d9d9 url("images/corner-tl.png") no-repeat left top; }
html>body .fedora-corner-tr { background: #d9d9d9 url("images/corner-tr.png") no-repeat right top; }
/*html>body .fedora-corner-bl { background: #d9d9d9 url("images/corner-bl.png") no-repeat left bottom; }
html>body .fedora-corner-br { background: #d9d9d9 url("images/corner-br.png") no-repeat right bottom; }
*/
.fedora-corner-tl { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corner-tl.png',sizingMethod='scale'); }
.fedora-corner-tr { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corner-tr.png',sizingMethod='scale'); }
.fedora-corner-br { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corner-br.png',sizingMethod='scale'); }
.fedora-corner-bl { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corner-bl.png',sizingMethod='scale'); }

/* \*/
.fedora-corner-tl, .fedora-corner-tr, .fedora-corner-bl, .fedora-corner-br {
	/* Restore the view for everything but IE6/Mac (part 2 of the "IE/Mac fix") */
	display: block;
}
/* */

html*.fedora-corner-bl, html*.fedora-corner-br {
	/* Compensate for Opera's inability to position some things correctly (Part 2) */
	top: 0px;
}

.content { margin: 0 1em }

#fedora-sidelist {
	position: relative;
	bottom: 3px;
	margin: 0;
	padding: 3px !important;
	border: 1px solid #bbb;
	background-color: #ccc;
	border-radius: 2.5px;
	-moz-border-radius: 2.5px;
}
#fedora-sidelist strong a {
	font-weight: normal;
	background-color: #555;
	color: #fff;
}
#fedora-sidelist strong a:hover {
	background-color: #333;
	color: #fff;
}
#fedora-sidelist li {
	list-style-position: outside;
	font-size: 0.9em;
	list-style: none;
	border: 1px solid #ccc;
	border-width: 1px 0;
	padding: 0;
	list-style: none;
}
#fedora-sidelist li a {
	text-decoration: none;
	display: block;
	padding: 6px 8px;
	border-radius: 2.5px;
	-moz-border-radius: 2.5px;
}
#fedora-sidelist li a:hover {
	background-color: #999;
	color: #eee;
}

#fedora-footer {
	font-size: 0.75em;
	text-align: center;
	color: #777;
	margin-bottom: 2em;
}
#fedora-printable {
	text-align: center;
	margin: 1em 0;
	font-size: 0.85em;
}
#fedora-printable a {
	text-decoration: none;
	padding: 5px 0;
	padding-left: 18px;
	background: transparent url("/images/printable.png") no-repeat left;
}
#fedora-printable a:hover {
	text-decoration: underline;
}
