<module>
	<rawname>ringgroups</rawname>
	<name>Ring Groups</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Basic</category>
	<menuitems>
		<ringgroups>Ring Groups</ringgroups>
	</menuitems>
	<location>release/ringgroups-1.0.tgz</location>
	<info>http://freepbx.org/wiki/RingGroups</info>
</module>
