body {
	background-color: white;
	font: 12px Geneva, Arial, Helvetica, sans-serif;
}

.headline {
	font-size: 18px;
}

.notice {
	font-size: 16px;
	color: #AD3145;
}

.subheadline {
	font-size: 16px;
}

td.name {
	font-weight: bold;
}

td.value {
	
}

td {
	margin: 4px;
	font-size: 12px;
}

.colTitle {
	padding-top: 10px;
}