<module>
	<rawname>conferences</rawname>
	<name>Conferences</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<conferences>Conferences</conferences>
	</menuitems>
	<location>release/conferences-1.0.tgz</location>
	<info>http://freepbx.org/wiki/Conferences</info>
</module>
