body {
	margin-top: 0px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	/*font-family: Geneva, Arial, Helvetica, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 13px;
}
td {
	font-size: 13px;
}
b {
    color:#2f79a7;
	font-weight:normal;
}
div#page {
    margin-left: auto;
    margin-right: auto;
    width:720px;
    text-align:left;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #B97054;
    border-right: 1px solid #B97054;
    border-bottom: 1px solid #B97054;
}
div.header {
	height: 80px;  /* img height (98px) + img margin */
	text-align:right;
	color: #ee9a47;
}
div.header a {
	color: #858383;
	text-decoration : none;
	font-size:16px;
	font-weight:bolder;
}
div.header a:hover {
	color: #ee9a47;
}
a#current {
	color: #E87B41;
}
div.header img {
    margin-top:10px;
    margin-right:9px;
    float:left;
    border-style:none;
    border-width:0;
}
div.header li {
    line-height: 60px;
	list-style-type: none;
	list-style-position: outside;
	text-align: left;
	display: inline;
	border-left: 1px solid #B97054;
	padding-top: 20px;
	padding-left: 2px;
	margin-left: -4px;
	margin-right: 0px;
	color: #2E78A7;
	font-size:16px;
	font-weight:bold;
}
div.message {
	text-align:right;
	border-bottom: 1px solid #2E78A7;
	color:#A96046;
	margin-top:-15px;
	padding-bottom:5px;
	padding-right: 5px;
}

div.nav {
    float:left;
    width:130px;
}
div.nav a {
	color: #2E78A7;
	text-decoration : none;
}
div.nav a:hover {
	color: #ee9a47;
}
div.nav li{
    list-style-type: none;
    list-style-position: outside;
    border-right: 1px solid #2E78A7;
    border-left: 1px solid #2E78A7;
    border-bottom: 1px solid #2E78A7;
    padding:5px;
}

div.rnav {
    float:right;
    width:130px;
}
div.rnav a {
	color: #2E78A7;
	text-decoration : none;
}
div.rnav a:hover {
	color: #ee9a47;
}
div.rnav li{
    list-style-type: none;
    list-style-position: outside;
    border-right: 1px solid #2E78A7;
    border-left: 1px solid #2E78A7;
    border-bottom: 1px solid #2E78A7;
    padding:5px;
}

a.info{
    position:relative; /*this is the key*/
    z-index:24;
    color:#000;
    text-decoration:none;
    border-bottom: 1px solid #F2AF1D;
    }
    
a.info:hover{
    z-index:25;
    background-color:#F2AF1D;
    }

a.info span{
    display: none;
    }

a.info:hover span{
    display:block;
    position:absolute;
    top:2em;
    left:-10em;
    width:25em;
    border:1px solid #F2AF1D;
    background-color:#FDF1D5;
    color:#000;
    text-align:justify;
    font-size:10px;
    font-weight:normal;
    padding:3px;
    line-height:15px;
    }
a.info:hover b{
    white-space:nowrap;
    display:inline;
    font-size:small;
    }
a.info:hover img{
    float:none;
    margin:5;
    vertical-align:middle;
    border-style:none;
    border-width:0;
    }

div.content {
    margin-left:150px;
    text-align:justify;
}
div.content img {
    float:right;
    margin-left: 20px;
    margin-bottom: 5px;
    border-style:none;
    border-width:0;
}
div.content h2 {
    white-space:nowrap;
    color:#2f79a7;
}
div.content h3 {
    color:#2f79a7;
}
div.content h4 {
    color:#2f79a7;
    font-size:16px;
}
div.content h5 {
    color:#2f79a7;
    font-size:12px;
}
div.content h6 {
	text-align:right;
	border-top:1px solid #E87B41;
	margin-top:4px;
	padding:6px;
}
div.content p {
    color:#000000;
    line-height:19px;
}
div.content input {
    margin-left:10px;
}

span.footer {
    border-top: 1px solid #2E78A7;
    padding-top:5px;
    display:block;
    text-align:left;
    font-size:xx-small;
}

span.footer img{
    float:right;
    vertical-align:bottom;
    }

div.home {
    margin-left:20px;
    text-align:left;
}
div.home img{
    float:right;
}
div.home h4 {
    font-weight:normal;
}
span.grey {
    color:#959298;
}
span.tm {
    font-size:small;
    vertical-align:top;
}
div.inyourface a{
	position:absolute;
	display:block;
	top:75px;
	width:700px;
	color:white;
	background-color:red;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	border: 1px dashed white;	
}
