<module>
	<rawname>recordings</rawname>
	<name>Recordings</name>
	<version>2.0</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<recordings>System Recordings</recordings>
	</menuitems>
	<location>release/recordings-1.0.tgz</location>
	<info>http://freepbx.org/wiki/Recordings</info>
</module>
