
/* Begin Typography & Colors */

body {
	color: #333;
	background-color: white;
	}
body, p, div {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	}
small small {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	}
a:visited {
	color: #999;
	}
p {
	margin:.5em 0;
}
p.footer {
	margin-top:	5em;
	margin-left:	148px;
	font-size:	10px
	}
sup {
	font-size:	9px
	}
p.caption	{
	width:	67%;
	margin-bottom:	1em
	}
h3, h4, .heading, .initial {
	margin-top:	1.5em
	}
h2, h3, h4 {
	font-family:	"Trebuchet MS", Arial, Helvetica, Tahoma, Verdana, sans-serif;
	margin-top:	0;
	margin-bottom:	0;
	color:	#555;
	}
h2 {
	font-size:	1.2em;
	}
h3 {
	font-size:	1em;
	}
div.spacer {
	clear: both;
	}

/* End Typography & Colors */

/* Begin error */

.error  {	
        color: #CC3333;
	}

/* End error */


/* Being page */

#page {
	background-color: white;
	text-align: left;
	min-width: 760px;
	}

/* End page */


/* Begin logo */

#logo {
        padding: 12px;
        padding-right: 24px;
        font-size: 2.0em;
        color: #fff; 
        text-align: left;
        background-color: #105D90;
        }
#logo a:link, #logo a:visited {
	color: white;
	text-decoration: none;
	}
#logo a:active, a:link {
	color: #fff;
	}
#logo a:hover {
	color: #fc0;
	}
#logo small b	{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	}

/* End logo */


/* Being topheader */

#topheader {
	width: 100%; 
	background-color: #105D90;
	padding: 0px; 
        margin: 0px;
	}
#topheader span.left {
	float: left;
	text-align: left;
	font-weight: bold;
	color: #fff;
	width: 49%;
	}
#topheader span.right {
	float: right;
	text-align: right;
	font-weight: bold;
	color: #fff;
	width: 49%;
	}

/* End topheader */


/* Begin topnav */

#topnav {
        width: 100%;
        height: 36px;
        border=0 
	padding: 0;
        margin-top: -1px;	/* stupid browser hack */
	color: #999;
	background-color: #333;
	}
#topnav span.left {
	float: left;
	text-align: left;
	font-weight: bold;
	color: #fff;
	width: 49%;
	}
#topnav span.right {
	float: right;
	text-align: right;
	font-weight: bold;
	color: #fff;
	width: 49%;
	}

.topnav a:link, .topnav a:visited {
	color: white;
	text-decoration: none;
	}
.topnav a:active, a:link {
	color: #105D90;
	}
.topnav a:hover {
	color: #fc0;
	}
.topnav small b	{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	background-color: #105D90;
	}

/* End topnav */


/* Being headerspacer */

#headerspacer {
        border: 0; 
	padding: 0;
        margin-top: -16px;	/* stupid browser hack */
	background-color: #fff;
        height: 16px
	}

/* End headerspacer */


/* Begin main */

#main {
        min-width: 760px;
        float: left;
	}
#main span.left {
	float: left;
	}
#main span.right {
	float: left;
	}

/* End main */


/* Begin login */

#login  {	
        width: 300px;
	}
#login span.left {
	width: 29%;
        height: 28px;
	float: left;
	text-align: right;
	}
#login span.right {
	width: 69%;
        height: 28px;
	float: right;
	text-align: left;
	}

/* End login */


/* Begin loginText */

#login_text  {	
        width: 604px;
	}
#login_text span.left {
	width: 13%;
        height: 28px;
	float: left;
	text-align: right;
	}
#login_text span.right {
	width: 87%;
        height: 28px;
	float: right;
	text-align: left;
	}

/* End login_text */


/* Begin menu */

#menu {
	width: 148px;
        float: left;
	}

/* End menu */


/* Begin nav */

.nav {
	font-weight: bold;
        color: #105D90;
	margin-right: 20px;
	}
.nav p {
        margin:  0px;
        padding-top: 2px;
        padding-bottom: 3px;
        background: #FFF; 
        }
.nav a:visited	{
	color: #105D90;
	}
.sub    {
	margin-left: 1em;
	}
.navtext {
	margin-left: 20px;
	}
.nav_b1 {
        height: 1px; 
        font-size: 1px; 
        overflow: hidden; 
        display: block; 
        background: #EEE; 
        margin:0 5px;
        }
.nav_b2 {
        height: 1px; 
        font-size: 1px; 
        overflow: hidden; 
        display: block; 
        background: #FFF; 
        border-right: 2px solid #EEE; 
        border-left: 2px solid #EEE; 
        margin:0 3px;
        }
.nav_b3 {
        height: 1px; 
        font-size: 1px; 
        overflow: hidden; 
        display:block; 
        background: #FFF; 
        border-right: 1px solid #EEE; 
        border-left: 1px solid #EEE; 
        margin: 0 2px;
        }
.nav_b4 {
        height: 2px; 
        font-size: 1px; 
        overflow: hidden; 
        display:block; 
        background: #FFF;
        border-right: 1px solid #EEE; 
        border-left:1px solid #EEE; 
        margin:0 1px;
        }
.nav_items {
        padding-left: 8px;
        background: #FFF; 
        border-right: 1px solid #EEE; 
        border-left: 1px solid #EEE;
        }

/* End nav */


/* Begin subnav */

.subnav {
	font-weight: bold;
        color: #105D90;
	margin-right: 20px;
	}
.subnav p {
        margin:  0px;
        padding-top: 2px;
        padding-bottom: 3px;
        background: #BEC8D1; 
        }
.subnav a:visited	{
	color: #105D90;
	}
.subnav_b1 {
        height: 1px; 
        font-size: 1px; 
        overflow: hidden; 
        display: block; 
        background: #aaa; 
        margin:0 5px;
        }
.subnav_b2 {
        height: 1px; 
        font-size: 1px; 
        overflow: hidden; 
        display: block; 
        background: #BEC8D1; 
        border-right: 2px solid #aaa; 
        border-left: 2px solid #aaa; 
        margin:0 3px;
        }
.subnav_b3 {
        height: 1px; 
        font-size: 1px; 
        overflow: hidden; 
        display:block; 
        background: #BEC8D1; 
        border-right: 1px solid #aaa; 
        border-left: 1px solid #aaa; 
        margin: 0 2px;
        }
.subnav_b4 {
        height: 2px; 
        font-size: 1px; 
        overflow: hidden; 
        display:block; 
        background: #BEC8D1;
        border-right: 1px solid #aaa; 
        border-left:1px solid #aaa; 
        margin:0 1px;
        }
.subnav_title {
	font-weight: normal;
        color: #105D90;
        font-size: 12px;
        padding-left: 8px;
	}
.subnav_items {
        padding-left: 20px;
        background: #BEC8D1; 
        border-right: 1px solid #aaa; 
        border-left: 1px solid #aaa;
        }

/* End subnav */


/* Begin center */

#center {
      float: left;
      margin-bottom: 20px;
      }

/* End center */


/* Begin line */

#line   {
        min-width: 604px;
        border: 1px solid #333; 
	padding: 0;
        margin: 0;	
	color: #999;
	background-color: #333;
	height: 1px;
	}
#line span.left {
	float: left;
	text-align: left;
	font-weight: bold;
	color: #fff;
	width: 49%;
	}
#line span.right {
	float: right;
	text-align: right;
	font-weight: bold;
	color: #fff;
	width: 49%;
	}

/* End line */


/* Begin navbar */

#navbar {
        width: 604px;
        height: 24px;
        border: 1px; 
        padding: 0;
        margin-bottom: 0;
        color: #fff;
        background-color: #333;
	}
#navbar span.left {
        margin: 2px;
	float: left;
	text-align: left;
	font-weight: bold;
        vertical-align: middle;
	width: 49%;
	}
#navbar span.right {
        margin: 2px;
	float: right;
	text-align: right;
	font-weight: bold;
        vertical-align: middle;
	width: 49%;
	}

/* End navbar */


/* Begin info_bar */

#info_bar {
        min-width: 604px;
        border: 1px solid #333; 
        padding: 3px;
        margin-top: -1px;	/* stupid browser hack */
        color: #999;
        background-color: #333;
        height: 20px;
	}
#info_bar span.left {
	float: left;
	text-align: left;
	font-weight: bold;
	color: #fff;
	width: 49%;
	}
#info_bar span.right {
	float: right;
	text-align: right;
	font-weight: bold;
	color: #fff;
	width: 49%;
	}
.info_bar a:link, .topnav a:visited {
	color: white;
	text-decoration: none;
	}
.info_bar a:active, a:link {
	color: #105D90;
	}
.info_bar a:hover {
	color: #fc0;
	}
.info_bar small b	{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	}
input.infoBar {
   font-size: 11px;
   padding: 0px;
   height: 22px;
}

/* End info_bar */


/* Begin centerbar */

#centerbar {
       margin: 0 auto; 
       width: 604px;
       text-align: center;
       }

/* Begin centerbar */


/* Begin subheader */

#subheader {
      padding: 0px; 
      margin: 0px;
      margin-bottom: 16px;
      }

/* End subheader */


/* Begin for tables */

.servBodL { 
      border-left: 1px dotted #CEDCEA; 
      }

/* End for tables */


/* End callmonitor */

table.callmonitor{ 
      width: 604px;
      font-family: Verdana;
      font-weight: normal;
      font-size: 11px;
      color: #404040;
      background-color: #fafafa;
      border: 1px #6699CC solid;
      border-collapse: collapse;
      border-spacing: 0px;
      margin-top: 0px;
      }

table.callmonitor td.callmonitorHD, th { 
      border: 1px solid #6699CC;
      border-bottom: 2px solid #6699CC;
      background-color: #BEC8D1;
      text-align: center;
      font-family: Verdana;
      font-weight: bold;
      font-size: 11px;
      color: #404040;
      }

table.callmonitor td { 
      border: 1px solid #6699CC;
      font-family: Verdana, sans-serif, Arial;
      font-weight: normal;
      font-size: 11px;
      color: #404040;
      background-color: white;
      text-align: center;
      padding: 3px;
      }


/* End callmonitor */


/* End voicemail */

.voicemail {
      margin: 0px;
      }
table.voicemail{ 
      width: 604px;
      font-family: Verdana;
      font-weight: normal;
      font-size: 11px;
      color: #404040;
      background-color: #fafafa;
      border: 1px #6699CC solid;
      border-collapse: collapse;
      border-spacing: 0px;
      margin: 0px;
      padding: 0px;
      }
table.voicemail td.voicemailHD, th { 
      border: 1px solid #6699CC;
      border-bottom: 2px solid #6699CC;
      background-color: #BEC8D1;
      text-align: center;
      font-family: Verdana;
      font-weight: bold;
      font-size: 11px;
      color: #404040;
      }
table.voicemail td { 
      border: 1px solid #6699CC;
      font-family: Verdana, sans-serif, Arial;
      font-weight: normal;
      font-size: 11px;
      color: #404040;
      background-color: white;
      text-align: center;
      padding: 3px;
      }
table.voicemail td.checkbox { 
      padding: 1px;
      }

/* End voicemail */


/* Begin footer */

#footer {
        margin-left: 148px;
	font-size: 10px;
        overflow: auto;
        width: 100%;
        clear: both;
	}
#footer a:hover {
	text-decoration: underline;      
	color: #105D90;
	}
#footer a:link {
	text-decoration: none;
	color: #999;
	}
#footer a:visited {
	text-decoration: none;
	color: #999;
	}

/* End footer */


/* the bodge for IE browsers */

* html .minwidth {
	border-left: 760px solid #fff; 
	position: relative; 
	float: left; 
	z-index: 1;
	}
* html .container {
	margin-left: -760px; 
	position: relative; 
	float: left; 
	z-index :2;
	}










