<module>
	<rawname>callwaiting</rawname>
	<name>Call Waiting</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Basic</category>
	<menuitems>
		<callwaiting>Call Waiting</callwaiting>
	</menuitems>
	<location>release/callwaiting-1.0.tgz</location>
	<info>http://freepbx.org/wiki/CallWaiting</info>
</module>
