/** Internet Explorer-specific CSS rules, gets applied after mainstyle.css
 */
#wrapper {
	padding-top:15px;
}
#reloadBox {
	/* IE6 doesn't do fixed */
	position:absolute;
}
#moduleBox {
	/* IE6 doesn't do fixed */
	position:absolute;
}