div.footer {
	/** TODO !! nav is no longer a float, so footer doesn't stay below it! we need a way to fix this..
	 * until then, I'm disabling footer
	*/
	display:none;
}

body {
	margin-top: 0px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	/*font-family: Geneva, Arial, Helvetica, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 13px;
	position:relative;
}
.clear {
	clear:both;
}
td {
	font-size: 13px;
}
b {
    color:#2f79a7;
	font-weight:normal;
}
a {
	color: #2E78A7;
	text-decoration : underline;
}
a:hover {
	color: #ee9a47;
}
div#page {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align:left;
    padding-left: 20px;
    padding-right: 20px;
	position:relative;
   /* border-left: 1px solid #B97054;
    border-right: 1px solid #B97054;
    border-bottom: 1px solid #B97054;*/
}
div.header {
	height: 80px;  /* img height (98px) + img margin */
	text-align:right;
	color: #ee9a47;
}
div.header a {
	color: #858383;
	text-decoration : none;
	font-size:16px;
	font-weight:bolder;
}
div.header a:hover {
	color: #ee9a47;
}
a#current {
	color: #E87B41;
	font-weight:bold;
}
div.header img {
    margin-top:10px;
    margin-right:9px;
    float:left;
    border-style:none;
    border-width:0;
}
div.header li {
    line-height: 60px;
	list-style-type: none;
	list-style-position: outside;
	text-align: left;
	display: inline;
	border-left: 1px solid #B97054;
	padding-top: 20px;
	padding-left: 2px;
	margin-left: -4px;
	margin-right: 0px;
	color: #2E78A7;
	font-size:16px;
	font-weight:bold;
}
div.message {
	text-align:right;
	border-bottom: 1px solid #808080;
	color:#A96046;
	margin-top:-15px;
	padding-bottom:5px;
	padding-right: 5px;
}

div.nav {
    /*float:left; */
	position:absolute;
	left:20px;
	width:150px;
	display: block;
}
div.nav a {
	color: #2E78A7;
	text-decoration : none;
	display: block;
    padding:5px;
    border:1px solid white;    
}
div.nav a:hover {
	color: #ee9a47;
	background: #FDF1D5;
	border:1px solid #F2AF1D;	
}
div.nav li{
    list-style-type: none;
    list-style-position: outside;
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

div.rnav {
    display: block;
    float:right;
    width:175px;
    margin-left:20px;	
}
div.rnav a {
	color: #2E78A7;
	text-decoration : none;
	display: block;
	padding: 5px;
        border:1px solid white;	
}
div.rnav a:hover {
	color: #ee9a47;
	background: #FDF1D5;
        border:1px solid #F2AF1D;		
}
div.rnav li{
    list-style-type: none;
    list-style-position: outside;
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

a.info{
    position:relative; /*this is the key*/
    z-index:24;
    color:#000;
    text-decoration:none;
    border-bottom: 1px solid #F2AF1D;
    }
    
a.info:hover{
    z-index:25;
    background-color:#F2AF1D;
    }

a.info span{
    display: none;
    }

a.info:hover span{
    display:block;
    position:absolute;
    top:2em;
    left:-10em;
    width:25em;
    border:1px solid #F2AF1D;
    background-color:#FDF1D5;
    color:#000;
    text-align:justify;
    font-size:10px;
    font-weight:normal;
    padding:3px;
    line-height:15px;
    }
a.info:hover b{
    white-space:nowrap;
    display:inline;
    font-size:small;
    }
a.info:hover img{
    float:none;
    margin:5px;
    vertical-align:middle;
    border-style:none;
    border-width:0;
    }

div.content {
    margin-left:170px;
    text-align:justify;
}
div.content img {
    float:right;
    margin-left: 20px;
    margin-bottom: 5px;
    border-style:none;
    border-width:0;
}
div.content h2 {
    white-space:nowrap;
    color:#4f3e73;
}
div.content h3 {
    color:#4f3e73;
}
div.content h4 {
    color:#4f3e73;
    font-size:16px;
}
div.content h5 {
    color:#4f3e73;
    font-size:12px;
}
div.content h6 {
	text-align:right;
	border-top:1px solid #E87B41;
	margin-top:4px;
	padding:6px;
}
div.content p {
    color:#000000;
    line-height:19px;
}
div.content input {
    margin-left:10px;
}

div.footer {
	margin-top: 10px;
    border-top: 1px dashed #808080;
    padding-top:5px;
    text-align:left;
    font-size:xx-small;
	clear:both;
}

span.footer img{
    float:right;
    vertical-align:bottom;
    }

div.home {
    margin-left:20px;
    text-align:left;
}
div.home img{
    float:right;
}
div.home h4 {
    font-weight:normal;
}
span.grey {
    color:#959298;
}
span.tm {
    font-size:small;
    vertical-align:top;
}
div.inyourface a{
	position:fixed;
	display:block;
	top:0px;
	left:0px;
	width:100%;
	color:white;
	background-color:red;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	border: 1px solid black;	
}

.clsWait{ 
	position: absolute; 
	top:75px; 
	left: 15%; 
	width: 70%; 
	text-align:center; 
	border: red solid 1px; 
	background :#f0d0d0; 
	display: block; 
	font-weight: bold 
}

.clsWaitFinishOK { 
	position: absolute; 
	top:75px; left: 15%; 
	width: 70%; 
	text-align:center; 
	border: blue solid 1px; 
	background:#d0d0f0; 
	display: block; 
}

.clsHidden{ 
	display: none 
}


/************************* For modules page *************************/
#modulelist ul {
	padding-left:0;
	margin-left:0;
	position:relative;
}
#modulelist li {
    list-style-type: none;
	border:1px solid #808080;
}
#modulelist #modulelist-header {
	position:relative;
}
#modulelist #modulelist-header span {
	font-size:120%;
	font-weight:bold;
	color:#4f3e73;
}
#modulelist .moduleheader {
	background:#ccc;
	padding:2px;
}
#modulelist .modulename {
	position:absolute;
	left:2px;
}
#modulelist .moduletype {
	position:absolute;
	left: 230px;
}
#modulelist .moduleversion {
	position:absolute;
	left: 290px;
}
#modulelist .modulestatus {
	position:absolute;
	left: 360px;

}
#modulelist .clear {
	clear:both;
}
div.modulebuttons {
	margin:0.5em 0 0.5em 0;
	text-align:right;
	width:100%;
}
#moduleprogress .error {
	color:red;
	font-weight:bold;
}
#moduleprogress .success {
	color:green;
	font-weight:bold;
}
#moduleprogress hr {
	margin-left:0;
	width:40%;
	color:#ccc;
}

/* for the tabber */
#modulelist .tabber, #modulelist .tabberlive {
	/* position:relative; */
	/*margin-left:130px; */
}
#modulelist div.moduleinfopane {
	display:none; /* hide the information pane by default */
	background: #eee;
	height:6em; /* div.tabbertab height should be .5 less than this */
}
#modulelist ul.tabbernav {
	width:8em;
	float:left;
	margin-left:0em;
	margin-bottom:1em;
}
#modulelist ul.tabbernav li {
	text-align:right;
	padding:2px 7px 2px 2px;
	
    border-right: 5px solid #808080;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
	
}
#modulelist ul.tabbernav li.tabberactive a {
	color: #E87B41;
	font-weight:bold;
}
#modulelist ul.tabbernav li a {
	text-decoration : none;
}
#modulelist div.tabbertab {
	margin-left:1.5em; 
	height:5.5em; /* This should be .5 less than div.moduleinfopain height */
	overflow:auto;
}
#modulelist h5 {
	margin-top: 0;
	margin-bottom: 0.5em;
}
#modulelist .alert {
	color:#a00;
}
#modulelist div.moduleinfopane .actiontab {
	padding-left:10px;
}

/************************* For tabber *************************/
/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/**************************************************************/
