<module>
	<rawname>paging</rawname>
	<name>Paging and Intercom</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<paging>Paging and Intercom</paging>
	</menuitems>
	<location>release/paging-1.0.tgz</location>
	<info>http://freepbx.org/wiki/PagingAndIntercom</info>
</module>
