<module>
	<rawname>featurecodeadmin</rawname>
	<name>Feature Code Admin</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Basic</category>
	<menuitems>
		<featurecodeadmin>Feature Codes</featurecodeadmin>
	</menuitems>
	<location>release/featurecodeadmin-1.0.tgz</location>
	<info>http://freepbx.org/wiki/FeatureCodes</info>
</module>
