#	License for all code of this FreePBX module can be found in the license file inside the module directory
#	Copyright 2013 Schmooze Com Inc.
#
SetEnv HTACCESS on
# Disallow all file access first
#
<IfModule !mod_authz_core.c>
	<FilesMatch "\..*$">
		Deny from all
	</FilesMatch>
</IfModule>
<IfModule mod_authz_core.c>
	<FilesMatch "\..*$">
		Require all denied
	</FilesMatch>
</IfModule>
# Now allow /admin, /admin/config.php and /admin/index.php as well as the various assets
#
<IfModule !mod_authz_core.c>
	<FilesMatch "(^$|index\.php|config\.php|ajax\.php|\.(gif|GIF|jpg|jpeg|png|css|js|swf|txt|ico|ttf|svg|eot|woff|woff2|wav|mp3|aac|ogg|webm|gz)$)">
		Allow from all
	</FilesMatch>
</IfModule>
<IfModule mod_authz_core.c>
	<FilesMatch "(^$|index\.php|config\.php|ajax\.php|\.(gif|GIF|jpg|jpeg|png|css|js|swf|txt|ico|ttf|svg|eot|woff|woff2|wav|mp3|aac|ogg|webm|gz)$)">
		Require all granted
	</FilesMatch>
</IfModule>

<IfModule php5_module>
	php_value max_input_vars 5000
</IfModule>

