<module>
	<rawname>backup</rawname>
	<name>Backup &amp; Restore</name>
	<version>1.0</version>
	<type>tool</type>
	<category>System Admin</category>
	<menuitems>
		<backup>Backup &amp; Restore</backup>
	</menuitems>
	<location>release/backup-1.0.tgz</location>
	<info>http://freepbx.org/wiki/Backup</info>
</module>
