/** Button Borders **/
.button-border(@gradient, @color) when (@gradient = false) {
	border: 1px solid rgba(116, 178, 226, 0.46);
}
.button-border (@gradient, @color) when (default()) {
	border: none;
}

.button-border-gradient (@gradient, @top, @bottom) when (@gradient = true) {
	border: 1px;
	border-image: -webkit-linear-gradient(@top,@bottom) 1 1;
	border-image: linear-gradient(to bottom, @top, @bottom) 1 1;
	border-image: -o-linear-gradient(top, @top, @bottom) 1 1;
}
.button-border-gradient (@gradient, @top, @bottom) when (default()) {
}

/** Button Backgrounds **/
.button-background (@gradient, @color, @image) when (@gradient = false) {
	background: @color;
}
.button-background (@gradient, @color, @image) when (default()) {
	background: none;
}

.button-background-gradient (@gradient, @top, @bottom) when (@gradient = true) {
	background: @top;
	background: -webkit-linear-gradient(top,  @top 0%,@bottom 100%);
	background: -o-linear-gradient(top,  @top 0%,@bottom 100%);
	background: -ms-linear-gradient(top,  @top 0%,@bottom 100%);
	background: linear-gradient(to bottom,  @top 0%,@bottom 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@top', endColorstr='@bottom',GradientType=0 );
}

.button-background-gradient (@gradient, @top, @bottom) when (default()) {
}

.button-layout() {
	.button-border(@button-gradient, @button-border-default);
	.button-border-gradient(@button-gradient, @button-border-gradient-top-default, @button-border-gradient-bottom-default);
	.button-background(@button-gradient, @button-background-color-default, @button-image-default);
	.button-background-gradient(@button-gradient, @button-background-gradient-top-default, @button-background-gradient-bottom-default);
	color: @button-color-default;
	display: inline-block;
	position: relative;
	line-height: 1.42857143;
	touch-action: manipulation;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible;
	font-size: 14px;
	padding: 5px 18px;
	font-weight: bold;
	height: 31px;
	min-width: 45px;
	margin: 0; //reset the margins
	margin-right: 5px;
	white-space: nowrap;
}

.button-hover() {
	.button-border(@button-gradient, @button-border-hover);
	.button-border-gradient(@button-gradient, @button-border-gradient-top-hover, @button-border-gradient-bottom-hover);
	.button-background(@button-gradient, @button-background-color-hover, @button-image-hover);
	.button-background-gradient(@button-gradient, @button-background-gradient-top-hover, @button-background-gradient-bottom-hover);
	color: @button-color-hover;
	background-color: #EBF7FF;
}

.button-active() {
	.button-border(@button-gradient, @button-border-active);
	.button-border-gradient(@button-gradient, @button-border-gradient-top-active, @button-border-gradient-bottom-active);
	.button-background(@button-gradient, @button-background-color-active, @button-image-active);
	.button-background-gradient(@button-gradient, @button-background-gradient-top-active, @button-background-gradient-bottom-active);
	color: #FFFFFF;
	background-color: #358BC8;
}

.button-disabled() {
	opacity: .35;
	filter: Alpha(Opacity=35);
	.button-background(@button-gradient, @button-background-color-default, @button-image-default);
	.button-background-gradient(@button-gradient, @button-background-gradient-top-default, @button-background-gradient-bottom-default);
	.button-border(@button-gradient, @button-border-hover);
	.button-border-gradient(@button-gradient, @button-border-gradient-top-default, @button-border-gradient-bottom-default);
	cursor: not-allowed;
	color: @button-color-default;
}

/* BUTTON CSS STATES */
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only,
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn:visited,
button:visited,
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited {
	.button-layout();
	border-radius: @button-border-radius;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover,
.btn:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover{
	.button-hover();
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-active,
.btn:focus, button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus{
	.button-hover();
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-focus,
.btn:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active{
	.button-active();
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-disabled,
.btn:disabled,
button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled{
	.button-disabled();
}

/* RADIOSET/CHECKSET */
.radioset {
	white-space: nowrap;
}
.radioset input[type="radio"],
.radioset input[type="checkbox"] {
	display:none;
}
.radioset input[type="radio"] + label,
.radioset input[type="checkbox"] ~ label {
	.button-layout();
	margin-right: -5px;
}
.radioset input[type="radio"] + label:first-of-type {
	margin-left: 0px;
}
.btn-group input[type="button"],
.btn-group input[type="submit"],
.radioset input[type="radio"] + label:last-of-type {
	margin-right: 0px;
}
.btn-group input[type="button"]:last-of-type,
.btn-group input[type="submit"]:last-of-type,
.radioset input[type="checkbox"] ~ label:last-of-type {
	margin-right: 5px;
}
.radioset input[type="radio"] + label:first-of-type,
.radioset input[type="checkbox"] ~ label:first-of-type {
	border-top-left-radius: @button-border-radius;
	border-bottom-left-radius: @button-border-radius;
}
.radioset input[type="radio"] + label:last-of-type,
.radioset input[type="checkbox"] ~ label:last-of-type {
	border-top-right-radius: @button-border-radius;
	border-bottom-right-radius: @button-border-radius;
}
.radioset input[type="radio"] + label:hover,
.radioset input[type="checkbox"] ~ label:hover {
	.button-hover();
}
.radioset input[type="radio"]:checked + label, .radioset input[type="checkbox"]:checked + label {
	.button-active();
}

.radioset input[type="radio"]:disabled + label, .radioset input[type="checkbox"]:disabled + label {
	.button-disabled();
}

.has-error {
	.radioset input[type="radio"] + label:first-of-type, .radioset input[type="checkbox"] ~ label:first-of-type,
	.radioset input[type="radio"] + label, .radioset input[type="checkbox"] ~ label,
	.radioset input[type="radio"] + label:last-of-type, .radioset input[type="checkbox"] ~ label:last-of-type {
		background-color: fade(@button-has-error, 60%);
		border-color: @button-has-error;
		color: white
	}
	.radioset input[type="radio"]:checked + label:first-of-type, .radioset input[type="checkbox"]:checked ~ label:first-of-type,
	.radioset input[type="radio"]:checked + label, .radioset input[type="checkbox"]:checked ~ label,
	.radioset input[type="radio"]:checked + label:last-of-type, .radioset input[type="checkbox"]:checked ~ label:last-of-type {
		background-color: @button-has-error;
		border-color: @button-has-error;
		color: white
	}
}

.has-warning {
	.radioset input[type="radio"] + label:first-of-type, .radioset input[type="checkbox"] ~ label:first-of-type,
	.radioset input[type="radio"] + label, .radioset input[type="checkbox"] ~ label,
	.radioset input[type="radio"] + label:last-of-type, .radioset input[type="checkbox"] ~ label:last-of-type {
		background-color: fade(@button-has-warning, 60%);
		border-color: @button-has-warning;
		color: white
	}
	.radioset input[type="radio"]:checked + label:first-of-type, .radioset input[type="checkbox"]:checked ~ label:first-of-type,
	.radioset input[type="radio"]:checked + label, .radioset input[type="checkbox"]:checked ~ label,
	.radioset input[type="radio"]:checked + label:last-of-type, .radioset input[type="checkbox"]:checked ~ label:last-of-type {
		background-color: @button-has-warning;
		border-color: @button-has-warning;
		color: white
	}
}

.has-success {
	.radioset input[type="radio"] + label:first-of-type, .radioset input[type="checkbox"] ~ label:first-of-type,
	.radioset input[type="radio"] + label, .radioset input[type="checkbox"] ~ label,
	.radioset input[type="radio"] + label:last-of-type, .radioset input[type="checkbox"] ~ label:last-of-type {
		background-color: fade(@button-has-success, 60%);
		border-color: @button-has-success;
		color: white
	}
	.radioset input[type="radio"]:checked + label:first-of-type, .radioset input[type="checkbox"]:checked ~ label:first-of-type,
	.radioset input[type="radio"]:checked + label, .radioset input[type="checkbox"]:checked ~ label,
	.radioset input[type="radio"]:checked + label:last-of-type, .radioset input[type="checkbox"]:checked ~ label:last-of-type {
		background-color: @button-has-success;
		border-color: @button-has-success;
		color: white
	}
}
