.has-success .input-group-addon {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}

.has-warning .input-group-addon {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3;
}

.has-error .input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}

.input-group-lg > .input-group-addon{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.input-group-addon label {
    margin-bottom: 0px;
    margin-left: 3px;
}
select.input-group-lg > .input-group-addon {
    height: 46px;
    line-height: 46px;
}
textarea.input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-addon {
    height: auto;
}
.input-group-sm > .input-group-addon {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
select.input-group-sm > .input-group-addon{
    height: 30px;
    line-height: 30px;
}
textarea.input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-addon{
    height: auto;
}
.input-group-addon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group-addon:not(:first-child):not(:last-child),

.input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group-addon.input-sm {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}
.input-group-addon.input-lg {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
    margin-top: 0;
}
.input-group-addon:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group-addon:first-child {
    border-right: 0;
}
.input-group-addon:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-addon:last-child {
    border-left: 0;
}

@media (min-width: 768px) {
    .input-group-addon{
        width: auto;
    }
}
pre {
    font-size: 90%;
    padding: 0.9rem;
    border: 1px solid #b1abab;
    border-radius: 4px;
    line-height: 1.42857143;
}
.control-label{
    font-weight: bold;
}
.label:empty {
    display: none;
}
.btn .label {
    position: relative;
    top: -1px;
}
.label-default {
    background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #5e5e5e;
}
.label-primary {
    background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #286090;
}
.label-success {
    background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #449d44;
}
.label-info {
    background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #31b0d5;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ec971f;
}
.label-danger {
    background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #c9302c;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #777;
    border-radius: 10px;
}
.badge:empty {
    display: none;
}
.btn .badge {
    position: relative;
    top: -1px;
}
a.badge:hover,
a.badge:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.form-check-label{
    font-weight: normal;
}
.form-check{
    display: flex;
    align-items: center;
}
.form-check-input{
    height: 11px;
}

.multiselect-option{
    padding: 0.22rem 0.5rem;
    .form-check-input{
        margin-bottom: 2px;
    }
}

.multiselect-all{
    padding: 0.25rem 0.7rem;
}

.multiselect-container{
    .dropdown-item-text {
        padding: 0.25rem 0.8rem;
        font-weight: bolder;
    }
}

.row > .form-group{
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.element-container .row .form-group {
    margin-bottom: 0px !important;
}
.loading-text{
    font-size: 14px !important;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}
@media (max-width: 992px) {
    .fpbx-container .display .element-container {
        margin: 10px 0px;
        padding: 10px 10px 10px 10px;
    }
}
.custom-select {
    font-size: 14px;
}

.form-group.clearfix {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}