# There are 24 buttons in the flash applet
# You have to assign a specific channel to a button
# and write a description that will be displayed as
# the button text
#
# The button order in the applet is as follows:
#
#   1    9     17
#   2    10    18
#   3    11    19
#   4    12    20
#   5    13    21
#   6    14    22
#   7    15    23 
#   8    16    24
#
# Chan	BtnNo	BtnText			Exten	Icon	Vmail-context
Zap/1,	1,	"External 1",		-1,	3
Zap/2,	2,	"External 2",		-1,	3
Zap/3,	3,	"External 3",		-1,	3
Zap/4,	4,	"External 4",		-1,	3
SIP/200,	5,	"200 Ryan Courtnage",		200@from-internal, 4, default
SIP/201,	6,	"201 Jason Becker",		201@from-internal,	4,	default
SIP/202,	7,	"202 John Doe",		202@from-internal,	4,	default
SIP/203,	8,	"203 Macintosh",	203@from-internal,	4,	default
#81,	21,	"81 Conference",	81,	6
#82,	22,	"Conference 82",	82,	6
#83,	23,	"91 Presenting",	91,	5
#84,	24,	"Conference 84",	82,	5
#85,	25,	"Conference 85",	82,	5
#VENTAS,	77,	"Sales Queue",		-1,	3
#SOPORTE,78,	"Support Queue",	-1,	3
#ADMIN,	79,	"Admin Queue",		-1,	3
